<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Board</title>
</head>
<body>
    <header>
        <h1>Open Board</h1>
    </header>
    <nav>
        <button onclick="location.href='/create-post'" type="button">Post</button>
        <button onclick="location.href='/sign-out'" type="button">Sign Out</button>
    </nav>
    <main>
        <div class="post">
            <div class="post-header">
                <span>mark123</span>
                <span>2021-01-01T11:00:01</span>
            </div>
            <div class="post-body">
                <p>This is a sample post that I am making on this great website.</p>
            </div>
        </div>
    </main>
</body>
</html>