<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Board</title>
</head>
<body>
    <h1>Open Board</h1>
    <h2>Welcome! Sign in or sign up to start posting!</h2>
    <div class="entry-button-area">
        <button onclick="location.href='/sign-in'" type="button">Sign In</button>
        <button onclick="location.href='/sign-up'" type="button">Sign Up</button>
    </div>
</body>
</html>